#root {
  width: 100%;
  margin: auto;
  text-align: center;
  place-content: center;
  display: flex;
  position: fixed;
  top:10%;
}
p{
  font-size: small;
  color: rgb(152, 158, 168);
  margin: auto;
}

.about-me{
  text-align: left;
}
.tabLabels{
  color: #90caf0;
  background-color: white;
  top: 10%
}
.center{
  margin: auto;
}

.rs-nav-pills {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  margin: auto;
  display: inline-flex;
  background-color: #f2f2f5;
  background-color: var(--rs-navs-pills-bg);
  border-radius: 6px;
  padding: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}