:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: auto;
  color: rgba(0, 0, 0, 0.87);
  background-image: radial-gradient(#90caf0, #ffff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  overflow: auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

.filter{
  text-align: left;
  position: fixed;
  left: 5vw;
  top: 20%;
  background: aliceblue;
  padding: 10px;
  border-radius: 10px;
  width: 10vw;
  height: fit-content;
  display: flex;

}

.rs-panel-group{
  background-color: aliceblue;
  overflow: scroll;
  border-radius: 8px;
  width: 80vw;
  max-height: 70vh;
  max-width: 700px;
}
.rs-panel-header{
  width: 100%;
}
.th-extras{
  max-height: 20px;
  margin: auto;
}

.container{
  overflow: auto;
  background-color: aliceblue;
  margin:10px auto;
  border-radius: 8px;
  scroll-behavior: smooth;
  max-height: 50vh;
  min-height: fit-content;
}

@media (max-width: 1010px){
  .filter{
    position: relative;
    width: 50vw;
    margin: 10px auto;
    display: block;
  }
  .container{
    max-height: 25vh;
  }
}

h1 {
  font-size: 20px;
  width: 50%;
  box-shadow: 5px 5px rgb(140, 141, 147);
  margin-top: 50px;
  border-radius: 8px;
  margin: auto;
  background-color: aliceblue;
  border-color:rgb(191, 212, 230);
  padding: 20px;
  line-height: 1.1;
}
h2{
  border-radius: 8px;
  width: fit-content;
  padding: 5px;
  margin: 10px auto ;
}

h3{
  font-size: 20px;
}

table{
  border:rgb(178, 220, 255);
  background-color: azure;
  padding: 10px;
  max-width: 700px;
  border-radius: 5px;
  overflow-x: auto;  
}

.table-container {
  overflow-x: auto; 
  margin: 0 auto; 
  max-width: 95vw; 
}

article{
  max-width: 95%;
  margin: 10px auto;
  overflow-y: scroll;
}

th{
  width: 14.2vw;
  border-radius: 5px;
}

td{
  background-color: #D6EEEE;
  width: 100px;
  border-radius: 5px;
}

.rs-badge {
  width: 100%;
}

td:hover{
  background-color:#afcfcf;
  scale:1.05;
}

button {
  border-radius: 8px;
  margin: 3px;
  background-color: aliceblue;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.rs-nav-item:hover{
  scale:1.05;
}

button:hover {
  background-color: rgb(198, 221, 240);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.center{
  margin:auto;
  place-content: center;
}

.center-extra{
  margin:auto;
  background-color: rgb(190, 227, 245);
  
  width: 100%;
  place-content: center;
}

.td-extras{
  background-color: #eff5fb;
}